<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <a id="action-button" href="/action">
            <h2 class="center brown-text">
              <i class="icon ion-ios-bolt"></i>
            </h2>
            <h5 class="center">Action</h5>
          </a>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <a href="/drama">
            <h2 class="center brown-text"><i class="icon ion-heart-broken"></i></h2>
            <h5 class="center">Drama</h5>
          </a>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <a href="/horor">
            <h2 class="center brown-text"><i class="icon ion-social-snapchat"></i></h2>
            <h5 class="center">Horor</h5>
          </a>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <a href="/history">
            <h2 class="center brown-text"><i class="icon ion-earth"></i></h2>
            <h5 class="center">History</h5>
          </a>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <a href="/science-fiction">
            <h2 class="center brown-text"><i class="icon ion-planet"></i></h2>
            <h5 class="center">Science Fiction</h5>
          </a>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <a href="/crime">
            <h2 class="center brown-text"><i class="icon ion-ios-pulse-strong"></i></h2>
            <h5 class="center">Crime</h5>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>