<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of impact byte students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Contributors</h5>
        <ul>
          <li><a class="white-text" href="http://github.com/ferryal" target="_blank"><i class="icon ion-social-github"> Ferryal</i></a></li>
          <li><a class="white-text" href="http://github.com/oliveraudhie" target="_blank"><i class="icon ion-social-github"> Oliver</i></a></li>
          <li><a class="white-text" href="http://github.com/FikrimSanad" target="_blank"><i class="icon ion-social-github"> Fikri</i></a></li>
          <li><a class="white-text" href="http://github.com/agtamasmiftahul" target="_blank"><i class="icon ion-social-github"> Miftahul</i></a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Genres</h5>
        <ul>
          <li><a class="white-text" href="./genre/action.html">Action</a></li>
          <li><a class="white-text" href="./genre/crime.html">Crime</a></li>
          <li><a class="white-text" href="./genre/drama.html">Drama</a></li>
          <li><a class="white-text" href="./genre/history.html">History</a></li>
          <li><a class="white-text" href="./genre/horor.html">Horror</a></li>
          <li><a class="white-text" href="./genre/science-fiction.html">Sci-Fi</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <a class="brown-text text-lighten-3" href="http://github.com/larvamon" target="_blank"><i class="icon ion-social-github"></i> Larvamon</a>
    </div>
  </div>
</footer>