<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Larva Movie</title>

  <!-- CSS  -->
  <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <!-- google font -->
  <link href="https://fonts.googleapis.com/css?family=Bellefair|Quicksand:400,700" rel="stylesheet">
  <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <% include header %>
    <% include content %>
      <% include footer %>
</body>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="/javascript/init.js"></script>

</html>